@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-0.5deg);
    }
    60% {
        transform: translate(-2px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(2px, 1px) rotate(-0.5deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 21x) rotate(0deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-0.5deg);
    }
}

.home {
    width: 100%;
    background: rgb(31, 34, 32);
    color: white;
    display: flex;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.home h1 {
    font-size: 80px;
    margin-bottom: 30px;
    font-weight: 100;
}

.home p {
    font-weight: 100;
    margin-bottom: 20px;
}

.home h2 {
    font-weight: 100;
    border: 2px solid white;
    padding: 10px;
    transition: 0.3s all ease-in;
}

.home h2:hover {
    background-color: white;
    color: rgb(128, 145, 143);
    cursor: pointer;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1320px) {
    .home {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 815px) {
    .home h2 {
        font-size: 15px;
    }
}

.home-link {
    background: rgb(31, 34, 32);
    width: 33%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s all ease-in-out;
    text-decoration: none;
    color: white;
}

.section {
    border: 2px solid white;
    padding-top: 10%;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: 0.3s all ease-in-out;
}

.iconDiv {
    background-color: white;
    width: 50%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;
    margin: 10px 0px 80px;
}

.iconDiv .icon {
    width: 100%;
    color: black;
    height: 50%;
}

.section:hover {
    background-color: white;
    color: #1a1a1d;
    cursor: pointer;
    .icon {
        color: white;
    }
    .iconDiv {
        background-color: #1a1a1d;
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

@media screen and (max-width: 1770px) {
    .home-link {
        height: 90%;
    }
    .home {
        align-items: center;
    }
}
@media screen and (max-width: 1360px) {
    .home-link {
        width: 40%;
    }
    .section h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 1224px) {
    .home-link {
        height: 90%;
    }
    .home {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .home-link {
        margin-top: 5%;
        width: 100%;
        height: 100%;
    }

    .section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 10%;
        align-items: center;
    }

    .iconDiv {
        order: 1;
        margin: 0;
        height: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 860px) {
    .section h1 {
        font-size: 40px;
    }
    .section p {
        font-size: 15px;
    }
    .iconDiv {
        display: none;
    }
}

@media screen and (max-width: 617px) {
    .home {
        padding: 0;
        align-items: center;
        padding-bottom: 5%;
    }
    .home-link {
        margin-top: 10%;
        width: 80%;
    }
    .section h1 {
        font-size: 55px;
    }
    .section p {
        font-size: 11px;
    }
}
