.news {
    width: 90%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    color: white;
}

.news-main {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100vh;
}

.item {
    width: 70%;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px 100px;
    margin-bottom: 100px;
}



.item h1 {
    font-size: 30px;
}

.item img {
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
    filter: contrast(80%);
    margin-bottom: 20px;
    transition: 0.4s all ease;
}

.item img:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px rgba(255, 255, 255, 1);


}

.item h6 {
    margin-bottom: 10px;
}


.item h5 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

.item .button {
    margin-left: 80%;
    margin-bottom: 100px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: none;
    font-size: 15px;
    border: 3px solid white;
    transition: 0.3s all ease;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}

.item .button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.item p {
    font-size: 20px;
}