.news {
    width: 90%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 5%;
}

.news-main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.item {
    width: 70%;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px 100px;
    margin-bottom: 100px;
}

.item h1 {
    font-size: 30px;
}

.item img {
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
    // filter: contrast(80%);
    margin-bottom: 20px;
    transition: 0.4s all ease;
}

.item img:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px rgba(255, 255, 255, 1);
}

.item h6 {
    margin-bottom: 10px;
}

.item h5 {
    margin-top: 10px;
    font-weight: 100;
    font-size: 20px;
}

.item .button {
    height: 30px;
    border-radius: 5px;
    background: none;
    font-size: 15px;
    border: 3px solid white;
    transition: 0.3s all ease;
    text-decoration: none;
    color: white;
    width: 50%;
    margin-top: 5%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.item p {
    font-size: 20px;
}

@media screen and (max-width: 1320px) {
    .news {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
}

@media screen and (max-width: 1170px) {
    .item {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .item p {
        font-size: 15px;
    }
}

@media screen and (max-width: 840px) {
    .news {
        margin-top: 15%;
    }
    .item {
        padding: 4%;
    }
    .item img {
        width: 100%;
    }
    .item p {
        font-size: 13px;
    }
}

@media screen and (max-width: 680px) {
    .news {
        margin-top: 20%;
    }
    .item {
        width: 85%;
    }
    .item h1 {
        font-size: 25px;
        text-align: center;
    }
    .button {
        align-self: center;
    }
}
