@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(-1px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(-0.5deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 21x) rotate(0deg);
    }
    100% {
        transform: translate(1px, -1px) rotate(-0.5deg);
    }
}

.news {
    width: 90%;
    background-color: #fedc97;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    align-items: center;
    color: #344e41;
    padding-top: 5%;
}

.news-main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.item {
    width: 70%;
    border: 2px solid #28666e;
    background-color: #d4d5a2;
    border-radius: 10px;
    color: #28666e;
    padding: 20px 100px;
    margin-bottom: 100px;
}

.item h1 {
    font-size: 35px;
    font-weight: 100;
}

.item img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    transition: 0.4s all ease;
    border-radius: 20px;
}

.item img:hover {
    box-shadow: 5px 5px #28666e;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.item h6 {
    margin-bottom: 1px;
    color: #033f63;
}

.item h5 {
    margin-top: 1px;
    font-weight: 100;
    font-size: 20px;
}

.item .button {
    height: 30px;
    border-radius: 1px;
    background: none;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #033f63;
    transition: 0.3s all ease;
    text-decoration: none;
    color: #28666e;
    width: 50%;
    margin-top: 5%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .button:hover {
    background-color: #28666e;
    color: #fedc97;
    cursor: pointer;
}

.item p {
    font-size: 20px;
}

@media screen and (max-width: 1320px) {
    .news {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
}

@media screen and (max-width: 1170px) {
    .item {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .item p {
        font-size: 11px;
    }
}

@media screen and (max-width: 840px) {
    .news {
        margin-top: 15%;
    }
    .item {
        padding: 4%;
    }
    .item img {
        width: 100%;
    }
    .item p {
        font-size: 13px;
    }
}

@media screen and (max-width: 680px) {
    .news {
        margin-top: 30%;
    }
    .item {
        width: 85%;
    }
    .item h1 {
        font-size: 21px;
        text-align: center;
    }
    .button {
        align-self: center;
    }
}
