.tourism {
    margin-left: 10%;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.row {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: space-evenly;
}

.turizam-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.tourism-item {
    border-radius: 10px;
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    border: 3px solid white;
    color: white;
    transition: 0.3s all ease-in-out;
}

.tourism-icon {
    width: 100%;
    color: black;
    height: 60%;
}

.turizam-iconDiv {
    background-color: white;
    width: 30%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s all ease-in-out;
}

.tourism-item h1 {
    padding-top: 5%;
    font-weight: 100;
    font-size: 55px;
}

.tourism-item p {
    font-size: 15px;
    font-weight: 100;
    padding-top: 5%;
}

.tourism-item:hover {
    background-color: white;
    color: #1a1a1d;
    cursor: pointer;
    .tourism-icon {
        color: white;
    }
    .turizam-iconDiv {
        background-color: #1a1a1d;
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

.turizam-page-rows {
    width: 90%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turizam-page-item {
    color: white;
    text-align: start;
    width: 90%;
    border: 4px solid white;
    padding: 30px 50px;
    border-radius: 10px;
    margin-top: 100px;
}

.turizam-page-item h1 {
    font-size: 55px;
    font-weight: 100;
}
.turizam-page-item p {
    font-weight: 100;
    padding-top: 2%;
    font-size: 20px;
    line-height: 1.4;
}

.turizam-page-item iframe {
    width: 100%;
    padding-top: 3%;
    height: 400px;
}

.tourism-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1320px) {
    .tourism {
        width: 100%;
        margin-left: 0%;
        padding-top: 13%;
    }
    .tourism-item h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1180px) {
    .tourism-item {
        display: flex;
        flex-direction: row;
    }
    .tourism {
        margin-top: 40%;
        width: 100%;
        flex-direction: column;
        padding: 0 10%;
    }
    .tourism-item {
        width: 100%;
        justify-content: space-evenly;
        padding: 3% 0;
    }
    .row {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin-top: 1%;
    }
    .turizam-iconDiv {
        height: 90%;
        width: 30%;
    }
    .turizam-link {
        margin-top: 5%;
    }
}

@media screen and (max-width: 680px) {
    .tourism {
        margin-top: 20%;
    }
    .turizam-iconDiv {
        display: none;
    }
    .turizam-link {
        margin-top: 10%;
    }
    .tourism-item {
        padding: 5%;
    }
    .tourism-item h1 {
        font-size: 25px;
    }
    .tourism-item p {
        font-size: 11px;
    }
}

.contribute-btn {
    margin: 50px;
    width: 60%;
    height: 50px;
    background: none;
    border: 4px solid white;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: all ease 0.3s;
}

.contribute-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.contribute-link {
    text-decoration: none;
    display: flex;
    width: 50%;
    justify-content: center;
}
@media screen and (max-width: 1320px) {
    .turizam-page-rows {
        width: 100%;
        margin-left: 0;
        margin-top: 10%;
    }
    .turizam-page-item h1 {
        font-size: 40px;
    }
    .turizam-page-item p {
        font-size: 18px;
    }
}
@media screen and (max-width: 722px) {
    .turizam-page-item {
        padding: 25px 50px;
    }
    .turizam-page-item p {
        font-size: 15px;
    }
}
